ul {
    list-style-type: none;
    display: flex;
}

.navbar {
    width: 100%;
    top: 0.5;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 10vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: gray;
    outline: black 3px solid;
}


.navbar-item {
    margin-left: 3vh;
}


.navbar-right-item{
    position: absolute;
    right: 0;
    margin-right: 3vh;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 20vh;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: gray;
    outline: black 3px solid;
}

.footerbar {
    width: 100%;
    bottom: 0.5;
    padding: 0;
    margin: 0;
}

.footerbar-left-item {
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    z-index: 2;
}

.footerbar-right-item {
    position: absolute;
    top: 0;
    z-index: 2;
    right: 0;
    z-index: 2;
}

header button{
    background-position: center;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 8vh;
    height:8vh;
    cursor: pointer;
}

#authors{
    background-image: url('../../images/navbar/authors.png');
}

#zoom-in{
    margin-left: 10vh;
    background-image: url('../../images/navbar/zoom-in.png');
}

#zoom-out{
    background-image: url('../../images/navbar/zoom-out.png');
}

#clear{
    background-image: url('../../images/navbar/clear.png');
}

#help{
    background-image: url('../../images/navbar/question-mark.png');
}

.arrow{
    font-size: 32px;
    height: 20vh;
}

.image {
    position: relative;
    height: 18vh;
    width: 36vh;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 1;
    transition: left 0.5s ease;
}

.popup-image {
    position: relative;
    height: 65vh;
    width: 130vh;
    top: 10vh;
}

.popup-image-container {
    position: relative;
    height: 70vh;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
    top:10vh;
}